apex==0.1
st_annotated_text==1.1.0
regex==2020.10.15
transformers==4.0.0
rank_bm25==0.2.1
torch==1.4.0
streamlit==0.78.0
faiss_gpu==1.7.0
attrs==20.3.0
datasets==1.5.0
gensim==4.0.1
numpy==1.19.2
scipy==1.5.2
tqdm==4.50.2
ipdb==0.13.4
sentence_transformers==1.1.1
nltk==3.5
attr==0.3.1
dataclasses==0.8
faiss==1.5.3
scikit_learn==0.24.2
